<ngx-carousel
  [inputs]="carouselOne"
  (carouselLoad)="myfunc($event)">
  <ngx-item NgxCarouselItem>
    <div class="first-slide">
      <div class="slider__title">Finding Something Jewish to Do Just Got Easier</div>
      <p class="slider__description">Jewish and Israel related programs and services around the world.</p>
      <button class="btn slider__btn" *ngIf="isLogin" (click)="getPersonalResults()">Get Personalized Results</button>
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div class="second-slide">
      <div class="slider__title">Finding Something Jewish to Do Just Got Easier</div>
      <p class="slider__description">Jewish and Israel related programs and services around the world.</p>
      <button class="btn slider__btn" *ngIf="isLogin" (click)="getPersonalResults()">Get Personalized Results</button>
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
    <div class="thid-slide">
      <div class="slider__title">Finding Something Jewish to Do Just Got Easier</div>
      <p class="slider__description">Jewish and Israel related programs and services around the world.</p>
      <button class="btn slider__btn" *ngIf="isLogin" (click)="getPersonalResults()">Get Personalized Results</button>
    </div>
  </ngx-item>
  <button NgxCarouselPrev class='leftRs none-display'>&lt;</button>
  <button NgxCarouselNext class='rightRs none-display'>&gt;</button>
</ngx-carousel>
