<div class="notes-container" *ngIf="notes">
  <div class="notes-content">
    <div class="notes-name">Program:</div>
    <div><img class="note-img" src="/assets/img/assistant-photo-down-icon.svg">{{notes['Program']}}</div>
  </div>
  <div class="notes-content">
    <div class="notes-name">Language of Instruction:</div>
    <div> <img class="note-img" src="/assets/img/assistant-photo-down-icon.svg">{{notes['Language of instruction']}}</div>
  </div>
  <div class="notes-content">
    <div class="notes-name">Length:</div>
    <div> <img class="note-img" src="/assets/img/assistant-photo-down-icon.svg">{{notes['Length']}}</div>
  </div>
  <div class="notes-content">
    <div class="notes-name">Program Dates:</div>
    <div> <img class="note-img" src="/assets/img/assistant-photo-down-icon.svg">{{notes['Program Dates']}}</div>
  </div>
  <div class="notes-content">
    <div class="notes-name">Eligibility:</div>
    <div> <img class="note-img" src="/assets/img/assistant-photo-down-icon.svg">{{notes['Eligibility']}}</div>
  </div>
  <div class="notes-content">
    <div class="notes-name">Application Deadline:</div>
    <div> <img class="note-img" src="/assets/img/assistant-photo-down-icon.svg">{{notes['Application Deadline']}}</div>
  </div>
  <div>
    <div class="notes-name">Other Notes:</div>
    <div> <img class="note-img" src="/assets/img/assistant-photo-down-icon.svg">{{notes['Other Notes']}}</div>
  </div>
</div>
