.close-login-dialog {
  position: absolute;
  height: 22px;
  width: 22px;
  right: -30px;
  top: -5px;
  opacity: 1;
  background-color: transparent;
  color: #ffffff;
  font-size: 22px;
}

.close-icon {
  width: 50px;
  height: 50px;
}

.filters-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
}

.left-col{
  width: 100%;
  margin-right: 8px;

}

.right-col{
  width: 100%;
  margin-left: 8px;
}

.left-col-center{
  width: 100%;
  margin-right: 8px;
  margin-left: 37px;

}

.right-col-center{
  width: 100%;
  margin-left: 8px;
  margin-right: 37px;
}

.select-div{
  margin-bottom: 16px;
}

.modal-body {
  width: 646px;
  padding: 45px 36px;
}

.filters-row-margin{
  margin-top: 28px;
}

.cost-description{
  padding-top: 18px;
  font-size: 18px;
  color: #374149;
}

.cost-description img{
  margin: 0px 10px;
}

.cost-value{
  width: 480px;
}

.last-filter{
  margin-top: 29px;
}

.button-div{
  text-align: center;
}

.filter-btn{
  width: 240px;
  height: 68px;
  background-color: #349cef;
  border: none;
  margin-top: 45px;
  box-shadow: 0px 11px 17px 0px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  color: #ffffff;
}

.filter-btn:hover{
  background-color: #1b8fec;
}

.filter-btn:focus{
  outline: none;
  background-color: #59a9e8;
}
