<form [formGroup]="loginForm">
  <div>
    <div>Name</div>
    <div>
      <input type="text" id="name" formControlName="username" class="settings-input">
      <br>
      <span *ngIf="loginForm.controls['username'].dirty && loginForm.controls['username'].errors?.required">* Please enter your name.</span>
    </div>
    <div>
      <div>Password</div>
      <div>
        <input type="text" id="password" formControlName="password" class="settings-input">
        <br>
        <span *ngIf="loginForm.controls['password'].dirty && loginForm.controls['password'].errors?.required">* Please enter your password.</span>
      </div>
    </div>
    <div>
      <button (click)="onSubmit($event)"
              [ngClass]="{'disabled-settings-done-btn' : loginForm.invalid}"
              [disabled]="loginForm.invalid">Login
      </button>
    </div>
  </div>
</form>
