.comment-container{
  border: 1px dashed #349cef;
  padding: 16px;
  font-size: 16px;
  color: #46494a;
}

.comment-end{
  width: 50%;
  height: 1px;
  margin: 10px auto;
  background: #349cef;;
}

.rating{
  color: #349cef;
}
